<!-- <div class="box-body"> 
    <h1 style="text-align: center;color: blue">Liste des depots</h1>
    <table id="example2" class="table table-bordered table-hover">
      <thead class="btable" style="background-color: rgb(84, 217, 221)">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Datedepot</th>
        <th scope="col">Solde</th>
        <th scope="col">Compte_id</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depot of depot">
          <td>{{ depot.id }}</td>
          <td>{{ depot.datedepot }}</td>
          <td>{{ depot.solde }}</td>
          <td>{{ depot.compte }}</td>  
      </tr>
      </tbody>
      
    </table>
</div> 
 -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="datedepot">
      <th mat-header-cell *matHeaderCellDef> datedepot </th>
      <td mat-cell *matCellDef="let element"> {{element.datedepot}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="solde">
      <th mat-header-cell *matHeaderCellDef> solde </th>
      <td mat-cell *matCellDef="let element"> {{element.solde}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="compte">
      <th mat-header-cell *matHeaderCellDef> compte </th>
      <td mat-cell *matCellDef="let element"> {{element.compte}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>