<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formcompte"></span>
  
        <!-- form card compte -->
        <div class="card rounded-0">
          <div class="card-header">
            <h2 class="mb-0" class="text-align-center">ajouter Compte</h2>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="">Numerocompte</label>
                <input  [(ngModel)]="compteUserData.numerocompte" name="numerocompte" type="number" class="form-control rounded-0" placeholder="numerocompte" required>
              </div>
              <div class="form-group">
                <label>Montant(FCFA)</label>
                <input [(ngModel)]="compteUserData.montant" name="montant" type="number" class="form-control rounded-0" placeholder="Montant" required>
              </div>
              <button (click)="compteUser()" type="button" class="btn btn-success float-left">valider</button>
              <button (click)="annulerUser()" type="button" class="btn btn-danger float-right">annuler</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card compte -->
  
      </div>
  
  
    </div>
  </div>
