    <h2  style="text-align: center">NAFA</h2>
<div class="py-2" >
        <div class="row">
          <div class="col-md-6 mx-auto" >
            <span class="anchor" id="formLogin"></span>
      
            <!-- form card login -->
            <div class="card rounded-0" style="background-color: #cccccc">
              <div class="card-header">
                <h3 class="mb-0" style="text-align: center">Login</h3>
              </div>
              <div class="card-body">
                <form class="form" autocomplete="off">
                  <div class="form-group">
                    <label for="">Username</label>
                    <input  [(ngModel)]="loginUserData.username" name="username" type="text" class="form-control rounded-0" required>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
                  </div>
                  <button (click)="loginUser()" type="button" class="btn btn-success float-right mt-2">Login</button>
                </form>
              </div>
              <!--/card-block-->
            </div>
            <!-- /form card login -->
      
          </div>
      
      
        </div>
  </div>