
<div class="container">
  
</div>

<body>
  <!-- Side Navbar -->
  <nav class="side-navbar" *ngIf="isAuthed()">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center"><img src="assets/img/lamine0.jpg" alt="person" class="img-fluid rounded-circle">
          <h2 class="h6">WariApplication</h2><span>LamineService</span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <h5 class="sidenav-heading">Main</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">                  
          <li><a routerLink="login"> <i class="icon-home"></i>login</a></li>
   
          
          <li><a routerLink="depot"> <i class="icon-grid"></i>ad_depot</a></li>
          <li ><a routerLink="compte"> <i class="icon-grid"></i>ad_compte</a></li>
                                      
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>AdminGENERAL</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li *ngIf="isSuperAdmin"> <a routerLink="register">register</a></li>
              
            </ul>
          </li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>PARTENAIRE</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li *ngIf="isAdminPartenaire"><a routerLink="ajoutUsers">ajoutUsers</a></li>
              
            </ul>
          </li>
          
        </ul>
      </div>
      
    </div>
  </nav>
  <div class="page">
    <!-- navbar-->
     <!-- <header class="header" *ngIf="isAuthed()">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">WariApplication</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav mr-auto" >
            
            <li class="nav-item active"> 
              <a class="nav-link" routerLink="/partenaire" routerLinkActive="active">partenaire</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/depot" routerLinkActive="active">depot</a>
              </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/compte" routerLinkActive="active">compte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/partenaire-list" routerLinkActive="active">partenaire-list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/user-list" routerLinkActive="active">user-list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/depot-list" routerLinkActive="active">depot-list</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"  routerLink="/compte-list" routerLinkActive="active">compte-list</a>
                </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>
            </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/ajoutUsers" routerLinkActive="active">AjoutUsers</a>
            </li>  
          </ul>
          <ul class='navbar-nav ' >
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a> 
            <a class="nav-link" style="cursor:pointer"  (click)="_authService.logoutUser()">Logout</a>        
         
          </ul>
        </div>
      </nav>
    </header>  -->
    <section class="mt-30px mb-30px">
      <router-outlet></router-outlet>
    </section>
    <footer class="main-footer" *ngIf="isAuthed()">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>Sonatel ACADEMY &copy; 2019-2020</p>
          </div>
          <div class="col-sm-6 text-right">
            <p>Design Par <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">LamineService</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
  </div>
  
</body>


