

<div class="box-body"> 
    <h1 style="text-align: center;color:blue;">Liste des Partenaires</h1>
    <table id="example2" class="table table-bordered table-hover">
      <thead class="btable" style="background-color: rgb(84, 217, 221)">
      <tr>
          <th scope="col">id</th>
        <th scope="col">Ninea</th>
        <th scope="col">Raisonsociale</th>
        <th scope="col">Adress</th>
        <th scope="col">Statut</th>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor="let partenaire of partenaire" >
          <td >{{ partenaire.id }}</td>
          <td >{{ partenaire.ninea }}</td>
          <td >{{ partenaire.raisonsociale }}</td>
          <td >{{ partenaire.adress }}</td>
          <td >{{ partenaire.statut }}</td>  
      </tr>
      </tbody>
    </table>
</div> 

